fastapi==0.115.5
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.12
apscheduler==3.10.4
pydantic-settings==2.6.1
pydantic[email]==2.10.3
qrcode[pil]==8.0
pillow==11.0.0
